@import url('font.css');

.gradient {
  background-image: linear-gradient(
    180deg,
    hsl(36deg 22% 86%) 0%,
    hsl(36deg 22% 88%) 8%,
    hsl(36deg 22% 89%) 17%,
    hsl(36deg 22% 90%) 25%,
    hsl(36deg 22% 91%) 33%,
    hsl(36deg 22% 92%) 42%,
    hsl(36deg 22% 93%) 50%,
    hsl(36deg 22% 94%) 58%,
    hsl(36deg 22% 95%) 67%,
    hsl(36deg 22% 97%) 75%,
    hsl(36deg 22% 98%) 83%,
    hsl(36deg 22% 99%) 92%,
    hsl(0deg 0% 100%) 100%
  );
}

html {
    box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: 'Kodchasan', sans-serif;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: black;
  color: white;
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu a {
  color: white;
  text-decoration: none;
}

.toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: black;
    text-align: center;
    padding: 1rem 0;
  }

  .menu.show {
    display: flex;
  }
}

/* Welcome style */
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-align: center;
}

.welcome-container p {
    margin: 0;
    line-height: 1.5rem;
}



/* About style */

.about-me-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.about-profile-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 50px;
}

.about-me {
  width: 500px;
  text-align: left;
}

.about-project-container {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2rem;
text-align: center;
}

.about-project-picture img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin: 20px;
}
.about-project {
  width: 500px;
  text-align: left;
}

